<div id="object-member-modal" class="modal fade course-member" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#1" data-toggle="tab"><%= t ".add_member" %></a>
        </li>
        <li><a href="#2" data-toggle="tab"><%= t ".manage_member" %></a>
        </li>
      </ul>
      <div class="tab-content ">
        <div class="tab-pane active" id="1">
          <%= form_tag do %>
            <%= hidden_field_tag :course_id, course.id %>
            <div class="body">
              <div class="panel panel-success">
                <div class="search-user-form">
                  <div class="search_users">
                    <div class="form-group">
                      <%= text_field_tag :user_search, params[:user_search],
                        placeholder: t(".search"), class: "form-control" %> 
                    </div>        
                  </div>
                </div>
                <div class="choose-all-member">
                  <label>
                    <%= check_box_tag "check", "check_all", false, class: "check_all" %>
                    <%= t ".choose_all" %>
                  </label>
                </div>
                <div class="add-user-table">           
                  <table class="table table-striped table-hover table-bordered">
                    <thead class="">
                      <tr>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="list_users">
                      <%= render "list_users", users: users %>
                    </tbody>
                  </table> 
                </div>
              </div>
            </div>
            <div class="footer text-center">
              <button type="button" class="btn btn-primary defaut-btn" 
                id="btn-course-member">
                <%= t ".add" %>
              </button>
              
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <%= t ".close" %>
              </button>
            </div>
          <% end %>
        </div>
        <div class="tab-pane" id="2">
          <div class="body">
            <div class="panel panel-success">
              <div class="search-user-form">
                <div class="search_added_users">
                  <div class="form-group">
                    <%= text_field_tag :search_added_users, 
                      params[:search_added_users],
                      placeholder: t(".search"), class: "form-control" %> 
                  </div>
                </div>
              </div>
              <div class="add-user-table">           
                <table class="table table-striped table-hover table-bordered">
                  <thead class="">
                    <tr>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody id="list_added_users">
                    <%= render "list_added_users", 
                      users: course.users.by_active, course: course %>
                  </tbody>
                </table> 
              </div>
            </div>
          </div>
          <div class="footer text-center"> 
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <%= t ".close" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
