<tr data-course-id="<%= course.id %>">
  <td>
    <% if course.images.any? %>
      <%= image_tag course.images.first.url, class: "img-circle" %>
    <% else %>
      <%= image_tag ImageUploader.new.default_url, class: "img-circle" %>
    <% end %>
  </td>
  <td>
    <h4>
      <%= link_to course.name, education_course_path(course) %>
    </h4>
    <p><%= course.training.name %></p>
  </td>
  <td><%= course.schedule %></td>
  <td><%= l course.start_date, format: :date_month_year_concise %></td>
  <td><%= course.place %></td>
  <td><%# l course.deadline_register, format: :date_month_year_concise %></td>
  <td><%= course.cost %></td>
  <td align="center">
    <%= link_to new_course_register_path(course: course.id),
      class: "button button-rounded button-reveal button-large button-yellow button-light" do %>
      <i class="icon-ok"></i>
      <span><%= t ".register" %></span>
      <% end %>
  </td>
</tr>
