<article class="portfolio-item pf-graphics pf-illustrations portfolio-item-course">
  <div class="portfolio-image">
    <% if course.images.any? %>
      <div class="carousel slide course_image_slide">
        <div class="carousel-inner" role="listbox">
          <% course.images.each_with_index do |image, index| %>
            <div class="<%= index.zero? ? 'item active' : 'item' %>">
              <%= link_to image_tag(image.url),
                education_course_path(course) %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= image_tag ImageUploader.new.default_url %>
    <% end %>
  </div>
  <div class="portfolio-desc">
    <h3 title="<%= course.name %>">
      <%= link_to truncate(course.name,
        length: Settings.education.index_name.truncate_limit),
        education_course_path(course) %>
    </h3>
    <span title="<%= course.detail %>">
      <%= truncate course.detail,
        length: Settings.courses.course_detail %>
      <%= truncate(course.training.name, length: Settings.education.index_name.truncate_limit) %>
     </span>
  </div>
</article>
