<tr data-course-id="<%= course.id %>">
  <td>
    <% if course.images.any? %>
      <%= image_tag course.images.first.url, class: "img-circle" %>
    <% else %>
      <%= image_tag ImageUploader.new.default_url, class: "img-circle" %>
    <% end %>
  </td>
  <td>
    <h4>
      <%= link_to course.name, education_course_path(course) %>
    </h4>
    <p><%= course.training.name %></p>
  </td>
  <td class="nowrap">
    <%= date_show course.start_date %>
  </td>
  <td class="nowrap">
    <%= date_show course.end_date %>
  </td>
  <td><%= course.place %></td>
  <td class="nowrap">
    <%= date_show course.deadline_register %>
  </td>
  <td><%= number_to_currency(course.cost, unit: "VND", precision: 0, delimiter: ".") %></td>
  <td align="center">
    <% if course.open? %>
      <% if course.deadline_register.present? &&
        (Date.today > course.deadline_register.to_date) %>
        <div class="button button-3d button-rounded button-black">
          <%= t ".expire" %>
        </div>
      <% else %>
        <%= link_to new_course_register_path(course: course.id), remote: true,
          class: "button button-rounded button-reveal button-large button-yellow button-light" do %>
          <i class="icon-ok"></i>
          <span><%= t ".register" %></span>
        <% end %>
      <% end %>
    <% else %>
      <div class="button button-3d button-rounded button-black">
        <%= t ".close" %>
      </div>
    <% end %>
  </td>
</tr>
