<section id="content">
  <div class="content-wrap content-wrap-custom">
    <div class="container-fluid clearfix course-detail-wrapper">
      <div class="course-slide-wrapper">
        <div class="fslider" data-arrows="false" data-animation="fade">
          <div class="flexslider">
            <div class="slider-wrap">
              <%= render "education/shared/load_images_slider",
                object: course %>
            </div>
          </div>
        </div>
      </div>
      <div class="course-detail-inner">
        <div class="course-detail">
          <div class="fancy-title fancy-title-custom title-bottom-border">
            <h2>
              <div class="product-price price-size">
                <del>
                  <%= number_to_currency sale_off(course.cost), precision: 0,
                    format: "%n" %>
                </del>
                <ins class="course-cost">
                  <%= number_to_currency course.cost, precision: 0,
                    format: "%n %u" %>
                </ins>
              </div>
            </h2>
          </div>
          <div class="course-registration">
            <% if course.open? %>
              <% if course.deadline_register.present? &&
                (Date.today > course.deadline_register.to_date) %>
                <div class="button button-3d button-rounded button-black">
                  <%= t ".expiration" %>
                </div>
              <% else %>
                <%= link_to t(".register"), new_course_register_path(course: course.id),
                  class: "button button-3d button-amber nomargin", remote: true %>
                <h5 class="pull-right deadline-register">
                  <strong>
                    <%= t ".open_until" %>
                    <%= date_show course.deadline_register %>
                  </strong>
                </h5>
              <% end %>
            <% else %>
              <h4 class="deadline-register">
                <div class="button button-3d button-rounded button-black">
                  <%= t ".close" %>
                </div>
              </h4>
            <% end %>
          </div>
          <div class="line line-custom"></div>
          <div class="description-course">
            <div class="panel panel-default product-meta">
              <div class="panel-body">
                <span>
                  <i class="glyphicon glyphicon-calendar"></i>
                  <%= t ".start_date" %>
                  <div class="orange-text-color">
                    <%= date_show course.start_date %>
                  </div>
                </span>
                <span>
                  <i class="glyphicon glyphicon-calendar"></i>
                  <%= t ".end_date" %>
                  <div class="orange-text-color">
                    <%= date_show course.end_date %>
                  </div>
                </span>
                <span>
                  <i class="glyphicon glyphicon-map-marker"></i>
                  <%= t ".place" %>
                  <div class="orange-text-color">
                    <%= course.place %>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <div>
            <%= render "connection_course", techniques: show_course.techniques,
              course: course, users: show_course.users %>
          </div>
          <div class="share-course">
            <div class="si-share share-custom clearfix">
              <div>
                <h5 class="technique-heading"><%= t ".share" %></h5>
              </div>
              <div class="share-course-button">
                <%= social_share_button_tag course.name %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="course-description-wrapper container-fluid clearfix">
      <div class="panel panel-default product-meta">
        <div class="panel-body">
          <%= course.detail %>
        </div>
      </div>
    </div>
  </div>
</section>
