<div class="row">
  <div class="col-xs-8 col-md-8 col-md-offset-2">
    <%= simple_form_for course do |f| %>
      <%= f.input :name %>
      <%= f.input :detail, as: :text,
        input_html: {rows: Settings.courses.detail_rows} %>
      <div class="form-group">
        <div class="col-md-6 left-field">
        <%= f.input :start_date, as: :string, placeholder: t(".select_date"),
          input_html: {class: "datetimepicker",
          value: localize(f.object.start_date || Date.today,
          format: t("education.time.formats.date_month_year"))} %>
        </div>
        <div class="col-md-6 right-field">
        <%= f.input :end_date, as: :string, placeholder: t(".select_date"),
          input_html: {class: "datetimepicker",
          value: localize(f.object.end_date || Date.today,
          format: t("education.time.formats.date_month_year"))} %>
        </div>
      </div>

      <%= f.input :training_id, collection: training_select,
        selected: f.object.training_id %>

      <%= f.simple_fields_for :images do |image| %>
        <%= render "image_fields", f: image %>
      <% end %>
      <div class="links">
        <%= link_to_add_association t(".add_image"), f, :images,
          class: "button button-3d button-small button-rounded button-green" %>
      </div>
      <%= f.submit button_text,
        class: "button button-3d button-rounded button-amber pull-right" %>
    <% end %>
  </div>
</div>
