<% courses.each do |course| %>
  <div class="load-more-project">
    <article class="portfolio-item">
      <div class="portfolio-image">
        <ul data-liffect="pageRight" class="data-liffect">
          <li><%= load_image course %></li>
        </ul>
        <div class="portfolio-overlay">
          <div class="portfolio-desc index-course-details">
            <h2><%= truncate(course.name, length: Settings.education.index_name.truncate_limit) %></h2>
            <span></span>
            <p><%= course.schedule %></p>
            <p><%= l course.start_date, format: :date_month_year %> -
              <%= l course.end_date, format: :date_month_year %></p>
            <p><%= t ".at" if course.place.present? %> <%= course.place %></p>
            <h3><%= course.cost %> VND</h3>
          </div>
          <%= link_to education_course_path(course), class: "center-icon" do %>
            <i class="icon-line-ellipsis"></i>
          <% end %>
        </div>
      </div>
    </article>
  </div>
<% end %>
