<div class="container clearfix">
  <div class="col_one_third">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-monitor"></i></a>
      </div>
      <h3><%= t ".mentoring" %></h3>
      <p><%= t ".mentoring_des" %></p>
    </div>
  </div>
  <div class="col_one_third">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="200">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-eye"></i></a>
      </div>
      <h3><%= t ".coaching" %></h3>
      <p><%= t ".coaching_des" %></p>
    </div>
  </div>
  <div class="col_one_third col_last">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="400">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-star"></i></a>
      </div>
      <h3><%= t ".job_rotation" %></h3>
      <p><%= t ".job_rotation_des" %></p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="col_one_third">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="600">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-play"></i></a>
      </div>
      <h3><%= t ".job_instructual_training" %></h3>
      <p><%= t ".job_instructual_training_des" %></p>
    </div>
  </div>
  <div class="col_one_third">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="800">
      <div class="fbox-icon">
        <a href="#"><i class="icon-params"></i></a>
      </div>
      <h3><%= t ".understudy" %></h3>
      <p><%= t ".understudy_des" %></p>
    </div>
  </div>
  <div class="col_one_third col_last">
    <div class="feature-box fbox-small fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="1000">
      <div class="fbox-icon">
        <a href="#"><i class="icon-line-circle-check"></i></a>
      </div>
      <h3><%= t ".apprenticeship" %></h3>
      <p><%= t ".apprenticeship_des" %></p>
    </div>
  </div>
  <div class="clear"></div>
</div>
