<div class="container clearfix">
  <div id="oc-clients" class="owl-carousel image-carousel carousel-widget"
    data-margin="60" data-loop="true" data-nav="false" data-autoplay="5000"
    data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4"
    data-items-md="5" data-items-lg="6">
    <div class="oc-item our-client-custom">
      <a href="https://www.hust.edu.vn/" target="_blank">
        <img src="<%= Settings.education.home_page.bkhn_logo %>">
      </a>
    </div>
    <div class="oc-item our-client-custom">
      <a href="http://hus.vnu.edu.vn" target="_blank">
        <img src="<%= Settings.education.home_page.khtnhn_logo %>">
      </a>
    </div>
    <div class="oc-item our-client-custom">
      <a href="http://donga.edu.vn/" target="_blank">
        <img src="<%= Settings.education.home_page.dhda_logo %>">
      </a>
    </div>
    <div class="oc-item our-client-custom">
      <a href="http://www.dut.udn.vn/" target="_blank">
        <img src="<%= Settings.education.home_page.bkdn_logo %>">
      </a>
    </div>
    <div class="oc-item our-client-custom">
      <a href="https://www.passerellesnumeriques.org/" target="_blank">
        <img src="<%= Settings.education.home_page.pnv_logo %>">
      </a>
    </div>
    <div class="oc-item our-client-custom">
      <a href="http://www.hueic.edu.vn/" target="_blank">
        <img src="<%= Settings.education.home_page.cdcnhue_logo %>">
      </a>
    </div>
  </div>
</div>
