<div class="row"></div>
<div class="row clearfix bottommargin-lg common-height ">
  <div class="col-md-4 col-sm-4 dark center col-padding statistics-course">
    <div>
      <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
      <div class="counter counter-lined">
        <span data-from="100" data-to="<%= Settings.education.home_page.course_count %>"
          data-refresh-interval="50" data-speed="2000">
        </span>
      </div>
      <h5><%= t ".course" %></h5>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 dark center col-padding statistics-trainee">
    <div>
      <i class="i-plain i-xlarge divcenter icon-line2-graph"></i>
      <div class="counter counter-lined">
        <span data-from="1" data-to="<%= Settings.education.home_page.trainee_count %>"
          data-refresh-interval="100" data-speed="2500"></span>
      </div>
      <h5><%= t ".trainee" %></h5>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 dark center col-padding statistics-trainer">
    <div>
      <i class="i-plain i-xlarge divcenter icon-line2-layers"></i>
      <div class="counter counter-lined">
        <span data-from="1" data-to="<%= Settings.education.home_page.trainer_count %>"
          data-refresh-interval="25" data-speed="3500"></span>
      </div>
      <h5><%= t ".trainer" %></h5>
    </div>
  </div>
</div>
