<% provide :title, t("education.title") %>
<section id="content">
  <%= render "slider" %>
</section>

<section id="content">
  <div class="content-wrap">
    <%= render "about_us", about: @home_object.about %>
    <%= render "introduction_video" %>
    <%= render "lastest_courses", courses: @home_object.courses %>
    <%= render "our_team", trainers: @home_object.trainers %>
    <%= render "clients_say" %>
    <%= render "our_clients" %>
  </div>
</section>
