<% provide :title, t("education.title") %>
<%= render "slider" %>

<section id="content">
  <div class="content-wrap">
    <%= render "about_us", about: @home_object.about %>
    <%= render "introduction_video" %>
    <%= render "lastest_courses", courses: @home_object.courses %>
    <%= render "our_team", trainers: @home_object.trainers %>
    <div class="content-wrap-custom">
    <%= render "clients_say" %>
    <div id="course_registers_section">
      <%= render partial: "course_register",
        locals: {course_register: @home_object.new_course_register} %>
    </div>
    <%= render "our_clients" %>
  </div>
</section>
