<div class="modal fade" id="editInfoModal" role="dialog">
  <div class="modal-dialog">
    <%= form_for user.info_user do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t ".title" %></h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <%= f.label :introduce, t(".introduce") %>
            <%= f.text_area :introduce, class: "form-control", rows: "3" %>
          </div>
          <div class="form-group">
            <%= f.label :birthday, t(".birthday") %>
            <%= f.date_field :birthday, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :school, t(".school") %>
            <%= f.text_field :school, class: "form-control" %>
          </div>
        </div>

        <div class="modal-footer">
          <%= button_tag t(".save"), class: "btn btn-primary btn-submit-cover" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <%= t ".close" %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
