<% projects.each do |project| %>
  <div class="col-xs-12 bottommargin-sm">
    <div class="ipost clearfix">
      <div class="row clearfix">
        <div class="col-sm-4">
          <div class="entry-image">
            <%= link_to load_image(project), project %>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="entry-title">
            <h3><%= link_to project.name, project %></h3>
          </div>
          <ul class="entry-meta clearfix">
            <li>
              <i class="icon-calendar3"></i>
              <%= l project.created_at, format: :date_month_year_concise %>
            </li>
            <li>
              <i class="icon-comments"></i>
              <%= project.comments.count %>
            </li>
          </ul>
          <div class="entry-content">
            <p>
              <%= truncate project.description,
                length: Settings.education.project.content_truncate %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
