<section id="page-title">
<div class="container clearfix">
  <h1><%= t "education.feedback.title" %></h1>
  <span><%= t "education.feedback.description" %></span>
</div>
</section>
  <section id="map-overlay">
    <div class="container clearfix">
      <div id="contact-form-overlay" class="clearfix">
        <div class="fancy-title title-dotted-border">
          <h3><%= t "education.feedback.send_us_an_email" %></h3>
        </div>
        <div class="contact-form-result"></div>
        <%= simple_form_for @feedback do |f| %>
          <div class="col_half">
            <%= f.input :name, input_html: {class: "sm-form-control", id: "template-contactform-name"} %>
          </div>
          <div class="col_half col_last">
            <%= f.input :email,
              input_html: {class: "email sm-form-control", id: "template-contactform-email"} %>
          </div>
          <div class="clear"></div>
          <div class="col_half">
            <%= f.input :phone_number,
              input_html: {class: "sm-form-control required", id: "template-contactform-phone"} %>
          </div>
          <div class="clear"></div>
          <div class="col_full">
            <%= f.input :subject, input_html: {id: "template-contactform-subject",
              class: "sm-form-control required"} %>
          </div>
          <div class="col_full">
            <%= f.input :content, as: :text, input_html: {id: "template-contactform-message",
              class: "sm-form-control",
              rows: Settings.education.feedback_form_rows,
              cols: Settings.education.feedback_form_cols} %>
          </div>
          <div class="col_full">
            <%= f.submit t("education.feedback.send_feed_back"),
              class: "button button-3d nomargin button-amber",
              id: "template-contactform-submit" %>
          </div>
        <% end %>
      </div>
    </div>
    <section id="google-map" class="gmap"></section>
</section>
