<div class="container clearfix">
  <div class="col_one_third">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4><%= t ".our" %> <span><%= t ".vision" %></span></h4>
    </div>
    <p class="content-justify"><%= t ".vision_content" %></p>
  </div>
  <div class="col_one_third">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4><%= t ".our" %> <span><%= t ".mission" %></span></h4>
    </div>
    <p class="content-justify"><%= t ".mission_content" %></p>
  </div>
  <div class="col_one_third col_last">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4><span><%= t ".core" %></span> <%= t ".values" %></h4>
    </div>
    <p class="content-justify"><%= t ".core_value_content" %></p>
  </div>
</div>
<div class="container clearfix">
  <div class="col_one_third">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4><%= t ".why_chooce" %> <span><%= t ".us" %></span>?</h4>
    </div>
    <p class="content-justify"><%= t ".why_chooce_us_content" %></p>
  </div>
  <div class="col_one_third">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4><%= t ".what" %> <span><%= t ".difference" %></span>?</h4>
    </div>
    <p class="content-justify"><%= t ".what_difference_content" %></p>
  </div>
  <div class="col_one_third col_last">
    <div class="heading-block fancy-title nobottomborder title-bottom-border">
      <h4><%= t ".what_we" %> <span><%= t ".do" %></span>?</h4>
    </div>
    <p class="content-justify"><%= t ".what_we_do_content" %></p>
  </div>
</div>
