<table class="table table-hover table-bordered edu-categories-management">
  <thead>
    <tr>
      <th><%= t ".name" %></th>
      <th><%= t ".type" %></th>
      <th><%= t ".setting" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "category", collection: categories %>
  </tbody>
</table>
<div class="edu-categories-management-paginate">
  <%= paginate categories %>
</div>
