<div class="container">
  <section id="page-title" class="edu-managment-page-title">
    <div class="container clearfix">
      <h1><%= t ".title" %></h1>
      <span><%= t ".title_description" %></span>
    </div>
  </section>

  <section id="content">
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-6">
          <%= render "import" %>
        </div>
        <div class="col-md-6">
          <%= render "create_user" %>
        </div>
      </div>
      <div class="edu-users-search row">
        <%= render "search_form" %>
      </div>
      <div class="table-responsive" id="list_education_users">
        <%= render "list", users: @users %>
      </div>
    </div>
  </section>
</div>

<%= javascript_include_tag "education/management/users" %>
