<div class="container">
  <div class="col-md-12">
    <div class="user-profile clearfix">
      <div class="cover-image">
        <% if user.is_user? current_user %>
          <%= load_user_cover user, class: "img-cover my-img-cover" %>
          <div class="ico-upload-cover" data-toggle="modal"
            data-target="#changeCoverModal">
            <h3 class="glyphicon glyphicon-camera"></h3>
            <p><%= t ".change_cover" %></p>
          </div>
        <% else %>
          <%= load_user_cover user, class: "img-cover" %>
        <% end %>
      </div>
      <div class="user clearfix">
        <div class="user-avatar">
          <% if user.is_user? current_user %>
            <%= load_user_avatar user, class: "img-thumbnail img-avatar my-img-avatar" %>
            <div class="ico-upload-avatar">
              <h3 class="glyphicon glyphicon-camera" data-toggle="modal"
                data-target="#changeAvatarModal"></h3>
            </div>
          <% else %>
            <%= load_user_avatar user, class: "img-thumbnail img-avatar" %>
          <% end %>
        </div>
        <h2><%= user.name %></h2>
        <div class="user-actions">
          <div class="btn-group">
            <button class="btn btn-default btn-sm tip btn-responsive">
              <span class="glyphicon glyphicon-envelope glyphicon glyphicon-white"></span>
              <%= t ".message" %>
            </button>
            <% if user.is_user? current_user %>
              <button class="btn btn-default btn-sm tip btn-responsive"
                data-toggle="modal" data-target="#editInfoModal">
                <span class="glyphicon glyphicon-pencil glyphicon glyphicon-white"></span>
                <%= t ".edit_profile" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="additional-info">
        <p>
          <span class="glyphicon glyphicon-calendar"></span>
          <span class="title"><%= t ".birthday" %>:</span>
          <span><%= l user.info_user_birthday, format: :date_month_year if user.info_user_birthday.present? %></span>
        </p>
        <p>
          <span class="glyphicon glyphicon-education"></span>
          <span class="title"><%= t ".school" %>:</span>
          <span><%= user.info_user_school %></span>
        </p>
      </div>
    </div>
  </div>
</div>
<%= render "users/change_avatar", user: user if user.is_user? current_user %>
<%= render "users/change_cover", user: user if user.is_user? current_user %>
<%= render "edit_info", user: user if user.is_user? current_user %>
