<div class="modal fade" id="modal_description" tabindex="-1";
  aria-labelledby="modal_label_message" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-hidden="true"><%= t ".close" %></button>
        <h3 class="modal-title modal-title-custom" id="modal_label_message">
          <%= t ".description" %>
        </h3>
      </div>
      <div class="modal-content-custom">
        <%= training.description %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal_usage" tabindex="-1";
  aria-labelledby="modal_label_message" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-hidden="true"><%= t ".close" %></button>
        <h3 class="modal-title modal-title-custom" id="modal_label_message">
          <%= t ".usage" %>
        </h3>
      </div>
      <div class="modal-content-custom">
        <%= training.usage %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_reason" tabindex="-1";
  aria-labelledby="modal_label_message" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-hidden="true"><%= t ".close" %></button>
        <h3 class="modal-title modal-title-custom" id="modal_label_message">
          <%= t ".reason" %>
        </h3>
      </div>
      <div class="modal-content-custom">
        <%= training.reason %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_learner" tabindex="-1";
  aria-labelledby="modal_label_message" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-hidden="true"><%= t ".close" %></button>
        <h3 class="modal-title modal-title-custom" id="modal_label_message">
          <%= t ".learner" %>
        </h3>
      </div>
      <div class="modal-content-custom">
        <%= training.learner %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_benefit" tabindex="-1";
  aria-labelledby="modal_label_message" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-hidden="true"><%= t ".close" %></button>
        <h3 class="modal-title modal-title-custom" id="modal_label_message">
          <%= t ".benefit" %>
        </h3>
      </div>
      <div class="modal-content-custom">
        <%= training.benefit %>
      </div>
    </div>
  </div>
</div>
