<div id="comments" class="clearfix">
  <% if user_signed_in? %>
    <%= render "comment_form" %>
  <% else %>
    <div class="load-more-button">
      <%= link_to t(".login_to_comment"), new_user_session_path,
        class: "button button-3d nomargin" %>
    </div>
  <% end %>
  <div class="clear"></div>
  <h3><span class="comments-count"><%= post.comments_count %></span>
    <%= t ".comments" %>
  </h3>
  <ol class="commentlist clearfix">
    <%= render partial: "education/posts/comment_item",
      locals: {comments: @post_object.comments} %>
  </ol>
</div>
