<%= provide :title, t(".title") %>

<section id="page-title">
  <div class="container clearfix">
    <h1><%= t ".title" %></h1>
    <span><%= t ".title_description" %></span>
  </div>
</section>

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix" id="posts_result">
      <%= render partial: "paginate",
        locals: {index_post_object: @index_post_object} %>
    </div>
  </div>
</section>
<div class="hidden default-image" path="<%= asset_path "default.jpg" %>">
<%= javascript_include_tag "education/posts_search" %>
