<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="postcontent nobottommargin clearfix">
        <div id="posts" class="small-thumbs">
          <div class="entry clearfix">
            <div class="list-recruitment">
              <%= render "list_recruitment",
                index_recruitment_object: @index_recruitment_object %>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar nobottommargin col_last clearfix">
        <div class="widget clearfix">
          <h4><%= t ".hot_recruitment" %></h4>
          <%= render partial: "list_hot_recruitment",
            locals: {hot_recruitments: @index_recruitment_object.hot_recruitments} %>
        </div>
        <div class="widget clearfix">
          <h4><%= t ".recruitment_tag" %></h4>
          <%= render partial: "list_recruitment_tag",
            locals: {tags: @index_recruitment_object.tags} %>
        </div>
      </div>
    </div>
  </div>
</section>
