<tr id="feedback-<%= feedback.id %>">
  <td><%= feedback.content %></td>
  <td><%= feedback.email %></td>
  <td><%= feedback.subject %></td>
  <td><%= feedback.content %></td>
  <td><%= feedback.phone_number %></td>
  <td>
    <a href="#", class="btn btn-danger">
      <i class="icon-trash delete-feedback" data-id="<%= feedback.id %>"></i>
    </a>
  </td>
</tr>
