<div class="col-md-10 col-md-offset-1">
  <%= simple_form_for course_register, remote: true do |f| %>
    <div class="col_full">
      <%= f.input :course_id, collection: courses_select_options,
        as: :select, selected: params[:course], include_blank: true,
        input_html: {class: "sm-form-control"} %>
    </div>
    <div class="col_half">
      <%= f.input :name, error_class: :error, class: "sm-form-control",
        input_html: {value: current_user.present? ? current_user.name : "",
          class: "sm-form-control"} %>
    </div>
    <div class="col_half col_last">
      <%= f.input :email, error_class: :error,
        input_html: {value: current_user.present? ? current_user.email : "",
          class: "sm-form-control"} %>
    </div>
    <div class="clear"></div>
    <div class="col_half">
      <%= f.input :phone_number, error_class: :error,
        input_html: {class: "sm-form-control"} %>
    </div>
    <div class="col_half col_last">
      <%= f.input :address, error_class: :error,
        input_html: {class: "sm-form-control"} %>
    </div>
    <div class="clear"></div>
    <div class="col_full">
      <%= f.submit t(".submit"), class: "button button-3d button-amber nomargin",
      id: "template-contactform-submit"%>
    </div>
  <% end %>
</div>
