<%= form_for resource, as: resource_name, url: session_path(resource_name),
  html: {id: "sign-in-user", data: {type: "json"}},
  remote: true do |f | %>
  <h3 class="text-center orange-text"><%= t ".login" %></h3>
  <div class="alert-messages"></div>
  <div class="col_full">
    <%= f.label :email, class: "login-form-username" %><br />
    <%= f.email_field :email, class: "form-control not-dark", autofocus: true %>
  </div>

  <div class="col_full password-custom">
    <%= f.label :password, class: "login-form-password" %><br />
    <%= f.password_field :password,
      class: "form-control not-dark", autocomplete: "off" %>
  </div>

  <div class="col_full nobottommargin row">
    <div class="col-md-6 switch">
      <%= f.check_box :remember_me, id: "switch-toggle-2",
        class: "switch-toggle switch-toggle-round" %>
      <label for="switch-toggle-2" title="<%= t ".remember_me" %>"></label>
    </div>
    <div class="col-md-6">
      <%= f.submit t(".login"),
        class: "button button-3d button-mini button-rounded button-amber button-login" %>
    </div>
  </div>
<% end %>
