<footer id="footer" class="dark">
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        <%= raw t(".copyright") %><br>
        <div class="copyright-links">
          <a href="#"><%= t ".tearm_of_use" %></a> /
          <a href="#"><%= t ".privacy_policy" %></a> /
          <%= link_to "http://education.framgia.vn/tools", target: "_blank" do %>
            <%= t ".tools" %>
          <% end %>
        </div>
      </div>
      <div class="col_half col_last tright">
        <div class="fright clearfix fright-custom">
          <span><%= t ".connect_with_us" %></span>
          <%= link_to Settings.facebook,
            class: "social-icon si-small si-borderless si-facebook" do %>
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          <% end %>
        </div>
        <div class="clear"></div>
        <i class="icon-envelope2"></i>
        <%= Settings.education.home_page.framgia_email %>
        <span class="middot">&middot;</span>
        <i class="icon-headphones"></i>
        <%= Settings.education.home_page.framgia_phone %>
      </div>
    </div>
  </div>
</footer>
