<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">
  <div id="header-wrap" class="edu-header-wrap-custom">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <div id="logo" class="edu-logo-custom">
        <%= link_to education_root_url, class: "standard-logo edu-standard-logo-custom",
          data: {"dark-logo": "/assets/logo-faa.png"} do %>
          <img src="/assets/logo-faa.png" alt="<%= t "education.logo_alt" %>">
        <% end %>
        <%= link_to education_root_url, class: "retina-logo edu-retina-logo-custom",
          data: {"dark-logo": "/assets/logo-faa.png"} do %>
          <img src="/assets/logo-faa.png" alt="<%= t "education.logo_alt" %>">
        <% end %>
      </div>

      <div id="top-account" class="dropdown">
        <% if user_signed_in? %>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user"></i><i class="icon-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <% if is_management? %>
              <li>
                <%= link_to education_management_root_path do %>
                  <span class="nomargin">
                    <i class="icon-cog"></i>&nbsp;<%= t ".management" %>
                  </span>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to education_user_path(current_user) do %>
                <span class="nomargin">
                  <i class="icon-user"></i>&nbsp;<%= t ".profile" %>
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to new_education_post_path do %>
                <span class="nomargin">
                  <i class="icon-edit" aria-hidden="true"></i>&nbsp;
                  <%= t ".create_new_post" %>
                </span>
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t ".sign_out" %> <i class="icon-signout"></i>
              <% end %>
            </li>
          </ul>
        <% else %>
          <a href="#" class="btn btn-default" data-toggle="modal" data-target="#myModal">
            <%= t ".login" %>
          </a>
        <% end %>
      </div>
      <nav id="primary-menu" class="dark">
        <ul class="edu-menu-custom">
          <%= view_object(:home_tabs).html %>
          <li class="dropdown chosen-language">
            <% if session[:locale].present? %>
              <%= link_to url_for(locale: session[:locale]), class:"dropdown-toggle dropdown-custom",
                data: {toggle: "dropdown"} do %>
                <%= image_tag "flag/#{session[:locale]}.png", class: "icon-language" %>
                <i class="icon-angle-down"></i>
              <% end %>
            <% else %>
              <%= link_to url_for(locale: :en), class:"dropdown-toggle dropdown-custom",
                data: {toggle: "dropdown"} do %>
                <%= image_tag "flag/en.png", class: "icon-language" %>
                <i class="icon-angle-down"></i>
              <% end %>
            <% end %>
            <ul class="dropdown-menu dropdown-custom dropdown-menu-right choose-language" role="menu">
              <% Settings.languages.keys.each do |lang| %>
                <%= link_to url_for(locale: lang) do %>
                  <%= image_tag "flag/#{lang}.png", class: "icon-language" %>
                  <%= Settings.languages[lang] %>
                <% end %>
                <br/>
              <% end %>
            </ul>
          </li>
        </ul>

        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form action="#" method="get">
            <input type="text" name="q" class="form-control" value=""
              placeholder="<%= t "education.header.search" %>">
          </form>
        </div>
      </nav>
    </div>
  </div>
</header>
