<div id="page-menu">
  <div id="page-menu-wrap">
    <div class="container clearfix">
      <div class="menu-title">
        <%= t "education.header.project" %>
        <span> <%= t "education.projects.home.filter" %></span>
      </div>
      <nav>
        <ul>
          <%= render "education/layouts/nav_filter",
            {controller_name: "education/projects", techniques: @techniques} %>
          <li class="project-search">
            <input type="text" id="projects-search-txt" class="form-control"
              placeholder= "<%= t ".placeholder_search" %>" autofocus>
          </li>
        </ul>
      </nav>
      <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
    </div>
  </div>
</div>

<div class="content-wrap nobottompadding custom-wrap">
  <div id="list-portfolio" class="container clearfix">
    <div id="portfolio" class="portfolio grid-container clearfix">
    <article class="portfolio-item portfolio-item-project pf-media pf-icons">
        <div class="portfolio-image">
          <%= image_tag "add_project" %>
          <div class="portfolio-overlay">
            <%= link_to new_education_project_path, class: "center-icon" do %>
              <i class="icon-plus-sign"></i>
            <% end %>
          </div>
        </div>
        <div class="portfolio-desc">
          <h3><%= t ".add_project" %></h3>
          <span><%= t ".creater" %></span>
        </div>
      </article>
      <%= render partial: "education/trainers/project",
        collection: @projects %>
    </div>
  </div>
</div>
<div class="center">
  <%= paginate @projects %>
</div>
<div class="project-search">
  <div class="results" id="projects-search-results"></div>
</div>
