<div id="page-menu">
  <div id="page-menu-wrap">
    <div class="container clearfix">
      <div class="menu-title">
        <%= t "education.header.project" %>
        <span> <%= t "education.projects.home.filter" %></span>
      </div>
      <nav>
        <ul>
          <%= render "education/layouts/nav_filter",
            {controller_name: "education/management/trainings",
            techniques: @training_object.techniques} %>
          <li class="training-search">
            <%= search_form_for @training_object.search do |f| %>
              <%= f.text_field :name_cont, placeholder: t(".search_placeholder") %>
            <% end %>
          </li>
        </ul>
      </nav>
      <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
    </div>
  </div>
</div>

<div class="content-wrap nobottompadding custom-wrap">
  <div id="list-portfolio" class="container clearfix">
    <div id="portfolio" class="portfolio grid-container clearfix">
      <%= render "education/management/trainings/new_training" %>
      <%= render partial: "education/trainers/training",
        collection: @training_object.trainings_for_manager %>
    </div>
  </div>
</div>
<div class="center">
  <%= paginate @training_object.trainings_for_manager %>
</div>
