<div class="modal fade course-member add-user-group-modal" group="<%= group.id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="tab-content ">
        <div class="tab-pane active" id="1">
          <div class="body">
            <div class="panel panel-success">
              <div class="search-user-form">
                <div class="search_users">
                  <div class="form-group">
                    <%= text_field_tag :group_user_search,
                      params[:group_user_search],
                      placeholder: t(".search"),
                      class: "form-control group_user_search" %>
                  </div>
                </div>
              </div>
              <div class="choose-all-member">
                <label>
                  <%= check_box_tag "check", "check_all", false, class: "check_all" %>
                  <%= t ".choose_all" %>
                </label>
              </div>
              <div class="add-user-table">
                <table class="table table-striped table-hover table-bordered">
                  <thead class="">
                  </thead>
                  <tbody class="unadded-user">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="footer text-center">
            <%= link_to t(".add"),"#",
              class: "button button-3d button-mini button-rounded button-green modal-add-button" %>
            <button type="button" class="button button-mini button-border button-rounded button-amber" data-dismiss="modal">
              <%= t ".close" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
