<div class="col-md-6 technique-item">
  <div class="panel panel-default panel-custom">
    <div class="panel-body">
      <% if current_user && can_manage?(Education::Technique) %>
        <div class="technique-btn-group">
          <a href="#" class="btn btn-warning btn-technique-edit" data-id="<%= technique.id %>">
            <i class="icon-edit"></i>
          </a>
          <%= link_to education_technique_path(technique), method: :delete,
            class: "btn btn-danger" do %>
            <i class="icon-remove"></i>
          <% end %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-3">
          <%= load_technique_image technique %>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-md-12">
              <h3><%= technique.name %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p><%= technique.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
